body {
  font-family: "Work Sans", sans-serif;
}
::selection {
  background: #bbd20d;
}

.navMenu {
  position: fixed;
  top: 5%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.navMenu a {
  color: #191919;
  text-decoration: none;
  font-weight: lighter;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  width: 80px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navMenu a:hover {
  color: #bbd20d;
}

.navMenu .dot {
  width: 5px;
  height: 5px;
  background: #bbd20d;
  border-radius: 50%;
  opacity: 0;
  -webkit-transform: translateX(30px);
  transform: translateX(30px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navMenu a:nth-child(1):hover ~ .dot {
  -webkit-transform: translateX(18px);
  transform: translateX(18px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(2):hover ~ .dot {
  -webkit-transform: translateX(105px);
  transform: translateX(105px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(3):hover ~ .dot {
  -webkit-transform: translateX(200px);
  transform: translateX(200px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.hello {
  margin: 60px auto;
  margin-top: 100px;
  max-width: 550px;
}
.projects {
  width: 100%;
  background-color: #efefef;
  padding: 35px 10px;
}
.circle {
  background: #bbd20d;
  border-radius: 50%;
  width: 120px;
  height: 120px;
}
.highlight {
  background-color: #bbd20d;
}
h1 {
  text-transform: uppercase;
  font-size: 70px;
  font-weight: 700;
  color: #ffffff;
  margin-top: -15px;
}
h2 {
  font-size: 17px;
  margin-top: -30px;
}
.connectlink {
  color: #191919;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.connectlink:hover {
  color: #bbd20d;
}
.morelink {
  border: 1px solid #191919;
  border-radius: 30px;
  background-color: #191919;
  padding: 8px 13px;
  color: #ffffff;
  font-weight: 600;
  text-decoration: none;
}
.morelink:hover {
  border: 1px solid #bbd20d;
  background-color: #bbd20d;
  color: #fff;
}
.justlink {
  color: #bbd20d;
  text-decoration: none;
  font-weight: 600;
}
.justlink:hover {
  color: #191919;
}
.aboutproject {
  font-size: 14px;
}
img {
  object-fit: cover;
  width: 190px;
  height: 190px;
}
.collages {
  margin-top: 25px;
}
footer {
  display: block;
  text-align: center;
  font-size: 11px;
  color: #909090;
  margin: 15px 0;
}
@media (max-width: 576px) {
  h1,
  h2,
  .aboutproject {
    padding-left: 10px;
    padding-right: 10px;
  }
  h1 {
    color: #d8d8d8;
    font-size: 55px;
  }
  h2 {
    font-size: 24px;
  }
  .aboutproject {
    font-size: 17px;
  }
  .morelink {
    margin-top: 20px;
  }
  .navMenu a {
    font-size: 14px;
    width: 55px;
  }
  .navMenu a:nth-child(2):hover ~ .dot {
    -webkit-transform: translateX(80px);
    transform: translateX(80px);
  }
  .navMenu a:nth-child(3):hover ~ .dot {
    -webkit-transform: translateX(150px);
    transform: translateX(150px);
  }
  footer {
    font-size: 14px;
  }
  .circle {
    width: 150px;
    height: 150px;
  }
}
